.header-container {
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 60%;
  max-width: 40vw;
  border-radius: 18px;
  border: 2px solid var(--header-outline);
}
